@import "/vendor/bootstrap/dist/css/bootstrap.min.css";
html,
body {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  overflow: auto;
}
html #user-profile .user-ratings-grid,
body #user-profile .user-ratings-grid {
  display: block;
  width: 600px;
  height: 400px;
}
html #user-profile .user-ratings-grid .ngHeaderScroller div,
body #user-profile .user-ratings-grid .ngHeaderScroller div,
html #user-profile .user-ratings-grid .ngCanvas div,
body #user-profile .user-ratings-grid .ngCanvas div,
html #user-profile .user-ratings-grid .ngHeaderScroller .ngCell,
body #user-profile .user-ratings-grid .ngHeaderScroller .ngCell,
html #user-profile .user-ratings-grid .ngCanvas .ngCell,
body #user-profile .user-ratings-grid .ngCanvas .ngCell {
  display: inline-block;
  float: left;
}
.red {
  color: red;
}
fieldset.fieldset {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  vertical-align: top;
}
div.label-textbox {
  clear: both;
  margin-bottom: 5px;
}
div.label-textbox .longText {
  width: 250px;
}
div.label-textbox .shortText {
  width: 100px;
}
div.label-textbox .multipleSelect {
  width: 150px;
  margin-top: 10px;
}
div.label-textbox label.label2,
div.label-textbox label.label3,
div.label-textbox label.label4,
div.label-textbox label.label5,
div.label-textbox label.label6,
div.label-textbox label.label7 {
  float: left;
  display: block;
  text-align: right;
  padding-right: 5px;
  padding-top: 3px;
  font-weight: normal;
}
div.label-textbox label.label2 {
  width: 100px;
}
div.label-textbox div.img-options {
  display: inline-block;
}
div.label-textbox.required:after {
  content: "*";
}
div.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
div.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
div.rating > span:hover:before,
div.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
